@use './variables' as *;

.background_brown {
    background-color: $brown;
}

.background_orange {
    background-color: $orange;
}

.orange {
    color: $orange;
}

.gray {
    color: $gray;
}

.light-gray {
    color: $lightGray;
}

.social {
    width: 15px;
    height: 15px;
}

.list_item {
    cursor: pointer;
    .blue_hover {
        &:hover {
            background-color: $blue;
        }
    }

    .orange_hover {
        &:hover {
            color: $orange;
        }
    }
}