@use './variables' as *;

.background_brown {
    background-color: $brown;
}

.background_orange {
    background-color: $orange;
}

.orange {
    color: $orange;
}

.gray {
    color: $gray;
}

.light-gray {
    color: $lightGray;
}

.social {
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 4px;
}